---
title: 001-MCGL-Home
hero: true
---
{% extends "layouts/_layout.html" %}
{% block content %}
  <!-- START HERO -->
  <div class="hero ">
    <div class="hero__controls">
        <div class="container">
          <button class="js-slider-prev slick-arrow slick-prev"></button>
          <button class="js-slider-next slick-arrow slick-next"></button>
        </div>
    </div>
    <div class="hero__slider js-slider">
      {% for i in range(4)%}
      <div class="hero__slide" style="background-image: url('img/hero.jpg')">
        <div class="container">
          <div class="hero__info">
            <div class="hero__type">Series</div>
            <div class="hero__name">Vikings</div>
            <div class="hero__description">Vikings es la serie de ficción que narra las épicas aventuras de los guerreros más feroces de todos los tiempos.</div>
            <div class="hero__buttons">
              <a href="#" class="button button_red button_full-xs">{{mixins.icon('play')}} REPRODUCIR</a>
              <a href="#" class="button hide-xs">{{mixins.icon('heart')}} FAVORITOS</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- START HERO -->

  <section class="section section_no-pb-sm">
    <div class="container">
      <div class="section__title">
        <h2 class="h2">EN VIVO</h2>
      </div>
      <div class="section__body">
        {% include "partials/_block.html" %}
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="section__title">
        <h2 class="h2">ON DEMAND</h2>
      </div>
      <div class="section__body">
        {% include "partials/_items.html" %}
      </div>
      <div class="section__btns">
        <a href="#" class="button">VER TODOS ON DEMAND</a>
        <a href="#" class="button">VER PLATAFORMAS PLAY</a>
      </div>
    </div>
  </section>
{% endblock %}

