---
title: 002-MCGL-EnVivo-Default
blockButtons: true
---
{% extends "layouts/_layout.html" %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="section__title">
        <h2 class="h2">EN VIVO</h2>
        <div class="section__btn hide-xs">
          <a href="#" class="button">Ver Grilla</a>
        </div>
      </div>
      <div class="section__body">
        {% include "partials/_block.html" %}
      </div>
    </div>
  </section>

  <section class="section section_md section_pt-no-xs">
    <div class="container">
      <div class="section__title title hide-sm">
        <h3 class="h3">Tambien puedes ver...</h3>
      </div>
      <div class="section__body js-copy">
        {% include 'partials/_cards.html' %}
      </div>
      <div class="section__bottom">
        <a href="#" class="link-more js-show-more-blocks">VER MAS EN VIVO {{mixins.icon('chevron')}}</a>
        <div class="show-xs section__bottom-btn">
          <a href="#" class="button button_full">Ver Grilla</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

