---
title: 010-MCGL-OnDemand-DetalledePelícula
modal: true
modalShow: true
---
{% extends "layouts/_layout.html" %}
{% block content %}

  {{mixins.breadcrumbs(['Películas'])}}

  <section class="section">
    <div class="container">
      {{mixins.movie(img="img/toy.jpg", name="Toy Story 3", description="- -", h5="AVENTURA | 98 MIN |2010 | SD", modal=true, favourite=false)}}
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section__body">
          {% set items = [
            {
              img: 'img/item1.jpg',
              name: 'La vigilante del futuro'
            }, {
              img: 'img/item2.jpg',
              name: 'Salt & Fire'
            }, {
              img: 'img/item3.jpg',
              name: 'Logan'
            }, {
              img: 'img/item4.jpg',
              name: 'Moonrise Kingdom'
            }
          ] %}

          {{mixins.items("Títulos similares", items)}}
      </div>
    </div>
  </section>
{% endblock %}
