---
title: 017-MCGL-MiMC-MisRecordatorios-Si
mimc: true
activeMimc: 1
---
{% extends "layouts/_layout.html" %}
{% block content %}

  <section class="section section_no-pb">
    <div class="container">
      <div class="section__title">
        <h2 class="h2">MIS RECORDATORIOS AGENDADOS</h2>
        <div class="section__sel">
          {{mixins.select(false, ['Películas', 'Item 1', 'Item 2', 'Item 3'])}}
        </div>
      </div>
      <div class="section__body">
        <div class="section__body-row js-items">
          <div class="section__title section__title_sm title">
            <h3 class="h3">Películas</h3>
            <div class="section__change change js-change">
              <div class="change__edit">
                <a href="#" class="link js-change-edit">{{mixins.icon('pencil')}} <span>Editar</span></a>
              </div>
              <div class="change__final">
                <a href="#" class="link js-edit-cancel">{{mixins.icon('close')}} <span>Cancelar</span></a>
                <a href="#" class="link is-active js-edit-save">{{mixins.icon('done')}} <span>Guardar</span></a>
              </div>
            </div>
          </div>
          <div class="section__items">
            <div class="section__item">
                {{mixins.item(name="Tory story 3", img="img/toy.jpg", infoBig2=true, class="js-item", canDelete=true)}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

