---
title: 026-027-MCGL-Buscador-Resultado
searchActive: true
---
{% extends "layouts/_layout.html" %}
{% block content %}

  <section class="section">
    <div class="container">
      <div class="section__title">
        <h2 class="h2">1 resultado para ¨Game of Thrones¨</h2>
      </div>
      <div class="section__body">
        <div class="section__title section__title_sm title">
          <h3 class="h3">Series</h3>
        </div>
        <div class="section__body">
          <div class="section__items">
            <div class="section__item">
                {{mixins.item(name="Game of Thrones", img="img/got.jpg")}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

