<div class="block js-v-slider-parent">
  <div class="block__gallery">
    <div class="gallery">
      <div class="gallery__slider">
        <a href="#" class="gallery__play play play_big"></a>
        <div class="gallery__slider-main js-v-slider">
          <div class="gallery__item"
            style="background-image: url('img/slider.jpg');"></div>
          <div class="gallery__item"
            style="background-image: url('img/got.jpg');"></div>
          <div class="gallery__item"
            style="background-image: url('img/toy.jpg');"></div>
        </div>
      </div>
      <div class="gallery__controls">
        <div class="gallery__arr">
          {{mixins.btnArrTop('js-v-slider-prev')}}
        </div>
        <div class="gallery__arr">
          {{mixins.btnArrBottom('js-v-slider-next')}}
        </div>
      </div>
    </div>
  </div>
  <div class="block__info">
    <div class="block__tab js-v-slider-tab">
      <div class="info">
        <div class="info__channel">
          <img src="img/channel.svg"
            alt="Fox">
        </div>
        <div class="info__body">
          <div class="info__heading">
            <div class="info__title">Vikings</div>
            <div class="info__subtitle">T5 / E8 - El chiste</div>
          </div>
          <div class="info__text js-ellipsis-parent">
            <h5>DRAMA | 52 MIN | 2001 | SD</h5>
            <div class="info__about js-ellipsis">
              <p>
                Con los ejércitos frente a frente, Lagertha trata por última vez de alcanzar la paz con Ivar. Floki propone la construcción
                de un templo que enfrentará a los nuevos colonos y Alfred tiene interesante interesanteinteresante Con los ejércitos
                frente a frente, Lagertha trata por última vez de alcanzar la paz con Ivar. Floki propone la construcción de
                un templo que enfrentará a los nuevos colonos y Alfred tiene interesantes…Con los ejércitos frente a frente,
                Lagertha trata por última vez de alcanzar la paz con Ivar. Floki propone la construcción de un templo que enfrentará
                a los nuevos colonos y Alfred tiene interesante.
              </p>
            </div>
            <button class="info__more js-ellipsis-toggle"></button>
          </div>
          <div class="info__progress">
            {{mixins.progress()}}
          </div>
          <div class="info__buttons">
            {% if blockButtons == true %}
              {{mixins.btnIcon('play', 'REPRODUCIR')}}
              {{mixins.btnIcon('heart', 'FAVORITO', checkbox=true)}}
              {{mixins.btnIcon('record', 'Grabar')}}
              {{mixins.btnIcon('proximas', 'PRÓXIMA EMISIÓN')}}
              {{mixins.btnIcon('copy', 'OTROS EPISODIOS')}}
              {{mixins.btnIcon('timer', 'AGENDAR')}}
            {% else %}
            <a href="#" class="button">VER TODOS EN VIVO</a>
            <a href="#" class="button">VER GRILLA</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="block__tab js-v-slider-tab">
      <div class="info">
        <div class="info__channel">
          <img src="img/hbo.svg"
            alt="hbo">
        </div>
        <div class="info__body">
          <div class="info__heading">
            <div class="info__title">Game of Thrones</div>
            <div class="info__subtitle">7 Temporadas</div>
          </div>
          <div class="info__text js-ellipsis-parent">
            <h5>DRAMA | SD</h5>
            <div class="info__about js-ellipsis">
              <p>
                Con los ejércitos frente a frente, Lagertha trata por última vez de alcanzar la paz con Ivar. Floki propone la construcción
                de un templo que enfrentará a los nuevos colonos y Alfred tiene interesante interesanteinteresante Con los ejércitos
                frente a frente, Lagertha trata por última vez de alcanzar la paz con Ivar. Floki propone la construcción de
                un templo que enfrentará a los nuevos colonos y Alfred tiene interesantes…Con los ejércitos frente a frente,
                Lagertha trata por última vez de alcanzar la paz con Ivar. Floki propone la construcción de un templo que enfrentará
                a los nuevos colonos y Alfred tiene interesante.
              </p>
            </div>
            <button class="info__more js-ellipsis-toggle"></button>
          </div>
          <div class="info__progress">
            {{mixins.progress(num=30)}}
          </div>
          <div class="info__buttons">
            {% if blockButtons == true %}
              {{mixins.btnIcon('play', 'REPRODUCIR')}}
              {{mixins.btnIcon('heart', 'FAVORITO', checkbox=true)}}
              {{mixins.btnIcon('record', 'Grabar')}}
              {{mixins.btnIcon('proximas', 'PRÓXIMA EMISIÓN')}}
              {{mixins.btnIcon('copy', 'OTROS EPISODIOS')}}
              {{mixins.btnIcon('timer', 'AGENDAR')}}
            {% else %}
            <a href="#" class="button">VER TODOS EN VIVO</a>
            <a href="#" class="button">VER GRILLA</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="block__tab js-v-slider-tab">
      <div class="info">
        <div class="info__channel">
          <img src="img/hbo.svg"
            alt="hbo">
        </div>
        <div class="info__body">
          <div class="info__heading">
            <div class="info__title">Toy Story 3</div>
            <div class="info__subtitle">- -</div>
          </div>
          <div class="info__text js-ellipsis-parent">
            <h5>AVENTURA | 98 MIN |2010 | SD</h5>
            <div class="info__about js-ellipsis">
              <p>
                Con los ejércitos frente a frente, Lagertha trata por última vez de alcanzar la paz con Ivar. Floki propone la construcción
                de un templo que enfrentará a los nuevos colonos y Alfred tiene interesante interesanteinteresante Con los ejércitos
                frente a frente, Lagertha trata por última vez de alcanzar la paz con Ivar. Floki propone la construcción de
                un templo que enfrentará a los nuevos colonos y Alfred tiene interesantes…Con los ejércitos frente a frente,
                Lagertha trata por última vez de alcanzar la paz con Ivar. Floki propone la construcción de un templo que enfrentará
                a los nuevos colonos y Alfred tiene interesante.
              </p>
            </div>
            <button class="info__more js-ellipsis-toggle"></button>
          </div>
          <div class="info__progress">
            {{mixins.progress(num=30)}}
          </div>
          <div class="info__buttons">
            {% if blockButtons == true %}
              {{mixins.btnIcon('play', 'REPRODUCIR')}}
              {{mixins.btnIcon('heart', 'FAVORITO', checkbox=true)}}
              {{mixins.btnIcon('record', 'Grabar')}}
              {{mixins.btnIcon('proximas', 'PRÓXIMA EMISIÓN')}}
              {{mixins.btnIcon('copy', 'OTROS EPISODIOS')}}
              {{mixins.btnIcon('timer', 'AGENDAR')}}
            {% else %}
            <a href="#" class="button">VER TODOS EN VIVO</a>
            <a href="#" class="button">VER GRILLA</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
