<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <a href="#">
        <img src="img/logoMC.svg" alt="Montecable" class="footer__mc">
      </a>
    </div>
    <div class="footer__right">
      <a href="#">
        <img src="img/by-iugo-negativo.svg" alt="By IUGO" class="footer__by">
      </a>
    </div>
    <div class="footer__center">
      <div class="footer__info">
        <div class="footer__text">
            <p>©2018 - MCGoLive - Montecable - 18 de Julio 1216 - <a href="tel:+59829090000">+598 2 909 0000</a> - Montevideo, Uruguay</p>
            <p><a href="#">Ayuda</a> - <a href="#">Términos y condiciones</a> - ¿Tienes problemas? <a href="#">Contactanos</a></p>
        </div>
        <div class="footer__soc">
          <ul class="soc">
            <li><a href="#">{{mixins.icon('fb')}}</a></li>
            <li><a href="#">{{mixins.icon('ig')}}</a></li>
            <li><a href="#">{{mixins.icon('ytb')}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
