.button
	display: inline-flex
	justify-content: center
	align-items: center
	height: 40px
	min-width: 174px
	padding: 4px 15px
	outline: 0
	border: 1px solid currentColor
	border-radius: 4px
	color: #fff
	background: none
	+reg
	font-size: 15px
	text-align: center
	line-height: 1
	letter-spacing: 0.08em
	text-transform: uppercase
	transition: color .3s, border .3s
	cursor: pointer
	.icon
		color: inherit
		fill: currentColor
		font-size: 10px
		margin-right: 10px
		transition: fill .3s
	&:not(.button_red):hover
		color: $c-blue

.button_full
	width: 100%

.button_full-sm
	+sm
		width: 100%

.button_full-xs
	+xs
		width: 100%

.button_red
	background: #FC3F3F
	border-color: #FC3F3F
	transition: background .3s, border .3s
	&:hover
		$bg: darken(#FC3F3F, 20%)
		background: $bg
		border-color: $bg

.btn
	$this: &

	position: relative
	display: inline-block
	vertical-align: top
	width: 50px
	height: 40px
	background: none
	cursor: pointer
	color: #fff
	+ #{$this}
		margin-left: 20px
	&:hover, &.is-selected
		color: $c-blue
		#{$this}__text
			opacity: 1
			visibility: visible
	&.is-selected
		#{$this}__icon
			background: rgba($c-blue, .1)
	&__checkbox
		position: absolute
		opacity: 0
		visibility: hidden
		&:checked
			~ #{$this}__icon
				color: $c-blue
				background: rgba($c-blue, .1)
	&__icon
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		height: 100%
		font-size: 0
		border: 1px solid currentColor
		border-radius: 4px
		transition: color .3s, border .3s
	.icon
		color: inherit
		fill: currentColor
		font-size: 10px
		vertical-align: top
		max-width: 15px
	.icon-record
		font-size: 12px
	.icon-copy, .icon-timer
		font-size: 13px
	.icon-timer
		font-size: 14px
	.icon-money
		font-size: 11px
	&__text
		+reg
		position: absolute
		top: 100%
		left: 0
		margin-top: 9px
		white-space: nowrap
		line-height: 1
		font-size: 15px
		color: $c-blue
		text-transform: uppercase
		opacity: 0
		visibility: hidden
		transition: opacity .3s, visibility .3s
		display: none

.btn_circle
	width: 40px
	height: 40px
	.btn__icon
		border-radius: 50%
	.icon
		max-width: none
		font-size: 12px

.btn-arr
	position: relative
	background: none
	width: 40px
	height: 40px
	display: flex
	align-items: center
	justify-content: center
	transition: transform .3s
	&:active
		transform: scale(0.8)
	&_top
		i
			+arr(30, 20, #fff, 't')
	&_bottom
		i
			+arr(30, 20, #fff, 'b')

.btn-close
	width: 40px
	height: 40px
	display: flex
	align-items: center
	justify-content: center
	background: none
	.icon
		fill: #fff
		font-size: 15px


.btn-burger
	position: relative
	width: 20px
	height: 16px
	background: none
	&.is-active
		i
			&:nth-child(1)
				transform: rotate(45deg)
			&:nth-child(2)
				opacity: 0
				visibility: hidden
			&:nth-child(3)
				transform: rotate(-45deg)
	&:after
		content: ''
		position: absolute
		width: 30px
		height: 30px
		top: -7px
		left: -5px
	i
		position: absolute
		left: 0
		width: 100%
		height: 2px
		border-radius: 2px
		background: #fff
		transition: opacity .3s, visibility .3s, transform .3s
		transform-origin: 0 50%
		&:nth-child(1)
			top: 0
		&:nth-child(2)
			top: 50%
			margin-top: -1px
		&:nth-child(3)
			bottom: 0



