.card
	display: flex
	padding-bottom: 40px
	&:not(:last-child)
		border-bottom: 2px solid #081c26
		margin-bottom: 40px
	&__img
		flex: 0 0 275px
		height: 210px
		margin-right: 135px
		background-size: cover
		background-position: center
		border-radius: 5px
	&__info
		flex: 0 1 480px
