.header
	position: relative
	z-index: 10
	&.is-search-open
		.nav > li
			> .nav__link.is-active, > .nav__link
				opacity: 0
	&:after
		content: ''
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		opacity: 0.8
		background-image: linear-gradient(0deg, rgba(15,29,43,0.00) 0%, #0F1D2B 100%)
		z-index: -1
	&__inner
		+clr
	&__logo
		float: left
		margin-right: 40px
		margin-top: 20px
	&__nav
		float: left
		margin-top: 28px
		z-index: 2
	&__controls
		float: right
		margin-top: 20px
	&__search
		float: left
		&-btn
			display: flex
			align-items: center
			justify-content: center
			width: 30px
			height: 30px
			cursor: pointer
			margin-right: 15px
		.icon
			fill: #fff
			font-size: 16px
	&__user
		float: left
	&__form
		position: absolute
		top: 10px
		left: 150px
		right: 75px
		z-index: 10
		opacity: 0
		visibility: hidden
		transition: opacity .3s, visibility .3s
		&.is-open
			opacity: 1
			visibility: visible

.header_abs
	position: absolute
	top: 0
	left: 0
	width: 100%
	min-width: 1280px

.header_submenu
	padding-bottom: 65px
	&:before
		content: ''
		position: absolute
		bottom: -1px
		left: 0
		right: 0
		height: 65px
		background: #161f26


