.nav
	$this: &

	> li
		display: inline-block
		vertical-align: top
		&:not(:last-child)
			margin-right: 40px
		> ul
			position: absolute
			top: 100%
			margin-top: 30px
			width: auto
			+md
				left: 15px
				width: 100%
			> li
				display: inline-block
				vertical-align: top
				position: relative
				&:not(:last-child)
					margin-right: 40px
					+lg
						margin-right: 20px
	&__link
		position: relative
		display: block
		padding-bottom: 22px
		color: #fff
		font-size: 14px
		letter-spacing: .06em
		opacity: .6
		transition: opacity .3s ease
		cursor: pointer
		.icon-chevron
			fill: #fff
			font-size: 4px
			display: inline-block
			vertical-align: middle
			margin-left: 2px
		&:after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 20px
			height: 2px
			background: #fff
			opacity: 0
			transition: opacity .3s ease
		&.is-active, &:hover
			opacity: 1
			&:after
				opacity: 1
	&__link_span
		&:hover:not(.is-active)
			&:after
				display: none
	&__drop-parent
		&:hover
			#{$this}__drop
				opacity: 1
				visibility: visible
				transform: translateY(0)
	&__drop
		position: absolute
		z-index: 2
		top: 100%
		left: 0
		opacity: 0
		visibility: hidden
		transform: translateY(10px)
		transition: opacity .3s, visibility .3s, transform .3s

.nav_mod
	position: relative
	.nav
		&__link
			padding-bottom: 19px
			padding-top: 22px
			.icon
				transition: transform .3s
			&.is-open
				.icon
					transform: rotate(180deg)
		&__drop
			top: 100%
			left: 0
			right: 0
	> li
		margin-right: 20px
		+xs
			&:not(:last-child)
				margin-right: 20px

.subnav
	background: rgba(255,255,255,.05)
	white-space: nowrap
	overflow: auto
	.container
		+sm
			padding-left: 15px
			padding-right: 15px
	.nav
		li
			+xs
				margin-right: 20px
		&__link
			padding-top: 28px
			+xs
				padding-top: 22px
				padding-bottom: 19px

.navi
	position: relative
	z-index: 4
	+from-sm
		display: none
	&__line
		white-space: nowrap
		overflow: auto
		padding: 0 15px
		background: #0f181d
	&__menus
		position: absolute
		top: 100%
		left: 0
		right: 0

