.player
	position: fixed
	top: 0
	left: 0
	display: flex
	flex-direction: column
	width: 100%
	height: 100%
	min-width: 1280px
	z-index: 99
	background: #0f1d2b
	&__video
		position: relative
		flex: 1 1 100%
		min-height: 0
		overflow: hidden
		background: #000
		display: flex
		video
			width: 100%
			height: 100%
			max-width: 100%
			max-height: 100%
			margin: auto
	&__back
		position: absolute
		top: 40px
		left: 40px
		z-index: 10
	&__controls
		display: flex
		margin-top: auto
	&__btns-wrap
		flex: 0 0 200px
		display: flex
		border-right: 1px solid #000
	&__btns
		display: flex
		flex-wrap: wrap
		justify-content: center
		margin: auto
	&__btn
		padding: 10px
	&__body
		flex: 1
		font-size: 14px
		+pop
		font-weight: 300
	&__top
		min-width: 60px
		padding: 10px 38px
		background: #0c1722
		display: flex
		justify-content: space-between
		align-items: center
	&__time
		color: #9fa4aa
	&__schedule
		padding: 30px 38px
	&__channel
		display: inline-block
		vertical-align: top
		margin-right: 30px
	&__list
		display: inline-block
		vertical-align: top
	&__programm
		position: relative
		color: #9fa4aa
		a
			color: inherit
		&:not(:last-child)
			padding-bottom: 10px
			margin-bottom: 10px
			&:after
				content: ''
				position: absolute
				bottom: 0
				left: 0
				width: 20px
				height: 2px
				background: #9fa4aa
		&.is-active
			font-weight: 500
			color: #fff
			font-size: 18px
		span
			display: inline-block
			margin-right: 30px
			font-weight: 300
			font-size: 14px
			color: #9fa4aa
			letter-spacing: .06em
	&__label
		display: inline-block
		margin-right: 30px
	&__arrows
		flex: 0 0 113px
		border-left: 1px solid #000
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		padding: 15px 10px

