.icon-arrows {
  width: 0.6em;
  height: 1em;
  fill: #FFF;
}
.icon-ava {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-back {
  width: 1.6em;
  height: 1em;
  fill: #FFF;
}
.icon-chevron {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-chromecast {
  width: 1.2em;
  height: 1em;
  fill: #FFF;
}
.icon-close-x {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-copy {
  width: 0.85em;
  height: 1em;
  fill: #FFF;
}
.icon-delete {
  width: 0.93em;
  height: 1em;
  fill: #FFF;
}
.icon-done {
  width: 1em;
  height: 1em;
  fill: #42BFFE;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-fullscreen {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-heart {
  width: 1.1em;
  height: 1em;
  fill: #c0392b;
}
.icon-ig {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-money {
  width: 0.64em;
  height: 1em;
  fill: #42BFFE;
}
.icon-next {
  width: 0.58em;
  height: 1em;
  fill: initial;
}
.icon-pause {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-pencil {
  width: 1.13em;
  height: 1em;
  fill: #FFF;
}
.icon-play {
  width: 0.7em;
  height: 1em;
  fill: #FFF;
}
.icon-prev {
  width: 0.58em;
  height: 1em;
  fill: initial;
}
.icon-proximas {
  width: 1.3em;
  height: 1em;
  fill: #FFF;
}
.icon-record {
  width: 1em;
  height: 1em;
  fill: #42BFFE;
}
.icon-sad {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #231f20;
}
.icon-startover {
  width: 1.2em;
  height: 1em;
  fill: #FFF;
}
.icon-stop {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-subtitles {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
.icon-timer {
  width: 0.81em;
  height: 1em;
  fill: #FFF;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-ytb {
  width: 1.32em;
  height: 1em;
  fill: none;
}
